.header {
   top: 0;
   position: static;
   height: 4.5rem;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);

   .navbar-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 4rem;
      height: 100%;

      .navbar-logo {
         color: #083444;
         font-weight: 800;

         .colored-navbar-title {
            color: orange;
         }
      }

      .navbar-btns {
         list-style-type: none;
         display: flex;
         gap: 15px;

         .btn {
            color: #fff;
            text-decoration: none;
            display: block;
            font-size: 15px;
            font-weight: 500;
            margin: 4px 9px;
            padding: 0.5rem 1.5rem;

         }

         .btn1 {
            background-color: #083444;
            border-radius: 3px;
         }

         .btn2 {
            background-color: orange;
            border-radius: 3px;
         }

      }
   }
}

// Responsive Navbar
@media (max-width: 750px) {
   .right-navbar {
      display: none;
   }
}
